:root {
  /* Fonts */
  --text-font-is-google: 1;
  --header-font-is-google: 1;
  --code-font-is-google: 1;
  --base-font-size: 28px;
  --text-font-size: 1rem;
  --code-font-size: 0.85rem;
  --code-inline-font-size: .85em;
  --header-h1-font-size: 1.5rem;
  --header-h2-font-size: 1.25rem;
  --header-h3-font-size: 1em;

    /* Colors */
  --link-color: #28872B;   /*modificado*/




}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.2em;  /*modificado espaco linhas*/
}
h1, h2, h3 {
  font-family: var(--header-font-family), var(--header-font-family-fallback);
  font-weight: 600;
  color: var(--header-color);
  line-height: 1.2em;  /*modificado espaco linhas*/

}

h2{

  padding-bottom: 35px; /*modificado*/

}

h3{

  padding-top: 0px; /*modificado*/
  margin-top: 20px;

}

li{

  margin-bottom: 12px; /*modificado*/
  margin-top: -12px;
  line-height: 1.2em;

}

ul{

  margin-bottom:0;
  padding-bottom:0;

}


ul li li {

  margin:-10px;

}

.element:not(:last-child) {
    margin-bottom: 1rem;
}

}
.remark-slide-content {
  background-color: var(--background-color);
  font-size: 1rem;
  padding: 16px 64px 16px 64px;
  width: 100%;
  height: 100%;
}
.remark-slide-content h1 {
  font-size: var(--header-h1-font-size);
}
.remark-slide-content h2 {
  font-size: var(--header-h2-font-size);
  padding-bottom: -20px;
  margin-bottom: -20px;
}
.remark-slide-content h3 {
  font-size: var(--header-h3-font-size);
  padding-bottom: -20px;
  margin-bottom: -20px;
}
.remark-code, .remark-inline-code {
  font-family: var(--code-font-family), Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  background:blue;
}
.remark-code {
  font-size: var(--code-font-size);
  margin-top: -20px;
  margin-bottom: -20px;
  line-height: 35px;  /*modificado espaco linhas*/

}
.remark-inline-code { /*mudança*/
	padding: .1em .2em;
	margin: 0;
	font-size: 85%;
	background-color: rgb(217, 217, 217);
	border-radius: 6px;
}
.remark-slide-number {
  color: #1C3E0B;
  opacity: 1;
  font-size: 0.75rem;
}
strong {
  font-weight: bold;
  color: var(--text-bold-color);
}
a, a > code {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: #28872B;
  text-decoration-style: dotted;

}
.footnote {
  position: absolute;
  bottom: 60px;
  padding-right: 4em;
  font-size: 0.9em;
}
.remark-code-line-highlighted {
  background-color: var(--code-highlight-color);
}

.inverse {
  background-color: var(--inverse-background-color);
  color: var(--inverse-text-color);

}
.inverse h1, .inverse h2, .inverse h3 {
  color: var(--inverse-header-color);
}
.inverse a, .inverse a > code {
  color: var(--inverse-link-color);
}
.title-slide, .title-slide h1, .title-slide h2, .title-slide h3 {
  color: var(--title-slide-text-color);
}
.title-slide {
  background-color: var(--title-slide-background-color);
}
.title-slide .remark-slide-number {
  display: none;
}
/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2, .left-column h3 {
  color: #1C3E0B99;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #1C3E0B;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both;
}


.pull-left2 {
  float: left;
  width: 50%;
}
.pull-right2 {
  float: right;
  width: 44%;
}
.pull-right2 + * {
  clear: both;
}




img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px #1C3E0B80;
  margin-top: -10px;
  padding-left: 1em;
  font-size: 20pt;
  line-height:1.4em;  /*modificado espaco linhas*/
  margin-bottom: 40px;

}
.remark-slide table { /*moficado*/
  padding-top: 1px;
  margin-top: 35px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th {
  border-bottom: 1px solid #ddd;
}
th, td {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background: #D1D8CE;
}
table.dataTable tbody {
  background-color: var(--background-color);
  color: var(--text-color);
}
table.dataTable.display tbody tr.odd {
  background-color: var(--background-color);
}
table.dataTable.display tbody tr.even {
  background-color: #D1D8CE;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: var(--text-color);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--text-color) !important;
}

/* Horizontal alignment of code blocks */
.remark-slide-content.left pre,
.remark-slide-content.center pre,
.remark-slide-content.right pre {
  text-align: start;
  width: max-content;
  max-width: 100%;
}
.remark-slide-content.left pre,
.remark-slide-content.right pre {
  min-width: 50%;
  min-width: min(40ch, 100%);
}
.remark-slide-content.center pre {
  min-width: 66%;
  min-width: min(50ch, 100%);
}
.remark-slide-content.left pre {
  margin-left: unset;
  margin-right: auto;
}
.remark-slide-content.center pre {
  margin-left: auto;
  margin-right: auto;
}
.remark-slide-content.right pre {
  margin-left: auto;
  margin-right: unset;
}

/* Slide Header Background for h1 elements */
.remark-slide-content.header_background > h1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-background-color);
  color: var(--header-background-text-color);
  padding: 1rem 64px .1rem 64px;
  margin-top: 0;
  box-sizing: border-box;
}
.remark-slide-content.header_background { /*modificado*/
  padding-top: 50px;
}

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.base {
  color: var(--base);
}
.bg-base {
  background-color: var(--base);
}
.white {
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
.black {
  color: var(--black);
}
.bg-black {
  background-color: var(--black);
}

.h1-no-bold-inverse {
  font-family: var(--header-font-family), var(--header-font-family-fallback);
  font-weight: 300;
  color: var(--inverse-header-color);
  line-height: 1.2em;  /*modificado espaco linhas*/

}
br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-bottom: 10px; /* change this to whatever height you want it */
}
